## .NET
bin/
obj/
out/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Test results
TestResults/
*.trx

## NuGet
*.nupkg
.nuget/

## User-specific files
*.rsuser

## OS files
.DS_Store
Thumbs.db

## Env / secrets
.env
appsettings.Development.json
appsettings.*.local.json
